<app-view-proposal-top [proposal]="proposal"></app-view-proposal-top>

<!--  If the sponsor accepts the proposal and is not already accepted by the non profit-->
<ng-container *ngIf="proposal !== undefined">
  <div class="card" *ngIf="proposal.proposal.statusSponsor.id === '1'">
    <div class="heading">
      Sponsorship Information
    </div>
    <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" disabled [checked]="proposal.proposal.promotingCampaignSponsor" [value]="true" name="promotingCampaign"> Yes
          <input type="radio" disabled [checked]="!proposal.proposal.promotingCampaignSponsor" [value]="false" name="promotingCampaign"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        What is your budget for this campaign?
      </div>
      <div class="sub-heading">
        Please note this will be split equally as a sponsorship fee to the influencer and a donation to the nonprofit organization
      </div>
      $&nbsp; {{proposal.proposal.budgetSponsor}}
    </div>
    </div>
    <div class="should-it-look">
      <div class="input-text">
        How Should It Look?
      </div>
      <div class="text-on-input">
        {{proposal.proposal.howShouldItLookSponsor}}
      </div>
    </div>
    <div class="call-to-action">
      <div class="input-text">
        Call To Action
      </div>
      <div class="text-on-input">
        {{proposal.proposal.callToActionSponsor}}
      </div>
    </div>
  </div>
</ng-container>
  <div class="buttons"  *ngIf="proposal.proposal.statusSponsor.id === '1'">
    <button class="submit" (click)="acceptProposal()">ACCEPT</button>
    <button type="submit" (click)="declineProposal()" class="submit">DECLINE</button>
  </div>
<!--  If the sponsor accepts the proposal and is already accepted by the non profit-->
<div class="card" *ngIf="proposal.proposal.statusSponsor.id === '1' && proposal.proposal.statusNonProfitWithSponsor.id === '1'">
  <div class="buttons">
    <button class="submit">ACCEPTED</button>
  </div>
</div>

<div class="card" *ngIf="proposal.proposal.statusInfluencer.id !== '1'">
  Please wait for the influencer to accept the Proposal!
</div>

<!--  If still in wait for the sponsor to accept the proposal-->
<div class="card" *ngIf="proposal.proposal.statusSponsor.id !== '1' && !proposal.proposal.sendOnlyToInfluencers">
  Please wait for the sponsor to accept the Proposal!
</div>

