<div class="outer" *ngIf="influencer.user !== null">
  <div class="top">
    <div class="top-image">
      <img src="{{influencer.user.influencer.googlePhotoUrl}}">
    </div>
    <div class="interestedIn">
      <div *ngFor="let interest of influencer.user.influencer.type_of_influencers">
        {{interest.name}}
      </div>
    </div>
  </div>
  <div class="name">
    {{influencer.user.influencer.firstName}} {{influencer.user.influencer.lastName}}
  </div>
  <div class="some-text">
    With over 60+ million collective streams and one million Shazam’s of their songs worldwide, ExJ is comprised of composer / instrumentalist Elijah Woods and lyricist / vocalist Jamie Fine.
  </div>
  <div class="social-icons">
    <div class="icon">
      <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp; {{youtubeCount}}
    </div>
  </div>
  <div class="view-profile">
    <button (click)="goToProfile()">VIEW PROFILE</button>
  </div>
</div>
