<div class="outer">
  <div class="heading">
    CLOUTVOCATE
  </div>
  <div class="inner-box">
    <div class="left">
      <div class="left-heading">
      To finish setting up your account let’s connect your social media profiles to the platform
      </div>
      <div class="left-sub-heading">
        This process will not allow the platform to post to any profile added without your permission. We utilize key analytics to help boost the matches you’ll receive.
      </div>
      <div class="button">
        <button [disabled]="!isValidToken()" (click)="onNext()">NEXT</button>
      </div>
    </div>
    <div class="right">
      <div class="right-row">
      <app-card [heading]="'facebook'" [imgSrc]="'assets/images/Facebook%20Logo.png'"></app-card>
      <app-card [heading]="'Instagram'" [imgSrc]="'assets/images/Instagram%20Logo.png'" ></app-card>
      <app-card [heading]="'TikTok'" [imgSrc]="'assets/images/TikTok%20Logo.png'" ></app-card>
      </div>
      <div class="right-row">
      <app-card [heading]="'Twitch'" [imgSrc]="'assets/images/Twitch%20Logo.png'" ></app-card>
      <app-card [heading]="'Twitter'" [imgSrc]="'assets/images/Twitter%20Logo.png'"></app-card>
      <app-card [heading]="'Youtube'" [imgSrc]="'assets/images/YouTube%20Logo.png'" [onSubmit]="signInWithGoogle"></app-card>
      </div>
    </div>
  </div>
</div>

