@import "../scss_mixins";
.outer {
  background-color: #f8f8f8;
  padding: 50px 100px;
  height: 100%;
  @include tablet {
    padding: 20px 50px;
    height: auto;
  }
  .heading {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.6px;
    color: #3a3a3a;
  }
  .inner-box {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    padding-top: 40px;
    @include tablet {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }
   .left {
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     @include tablet {
       width: 100%;
       text-align: center;
     }
     * {
       margin-top: 20px;
     }
     .button {
       button {
         box-shadow: 1px 2px 4px 0 rgba(20, 110, 180, 0.1);
         background-color: #0099d9;
         border-radius: 5px;
         border: none;
         width: 99px;
         height: 45px;
         color: white;
       }
     }
     .left-heading {
       font-family: Roboto;
       font-size: 24px;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: 1.5;
       letter-spacing: normal;
       color: #3a3a3a;
     }
     .left-sub-heading {
       font-family: Roboto;
       font-size: 14px;
       font-weight: normal;
       font-stretch: normal;
       font-style: normal;
       line-height: 1.71;
       letter-spacing: normal;
       color: #3a3a3a;
     }
   }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      @include tablet {
        width: 100%;
      }
      .right-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        app-card {
          flex: 1;
          margin: 10px;
          max-width: 30%;
          min-width: 120px;
        }
      }
    }
  }
}
