<form [formGroup]="sponsorProposalForm">
  <app-view-proposal-top [proposal]="proposal"></app-view-proposal-top>
<div class="card">
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input formControlName="promotingCampaign" [value]="true" type="radio" name="promotingCampaign" > Yes
          <input formControlName="promotingCampaign" [value]="false" type="radio" name="promotingCampaign" > No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        What is your budget for this campaign?
      </div>
      <div class="sub-heading">
        Please note this will be split equally as a sponsorship fee to the influencer and a donation to the nonprofit organization
      </div>
      <input formControlName="budget" type="number" min="0" class="input-style donation-text-input">
    </div>
  </div>
  <div class="bottom-text-area">
    <div class="input-text">
      How should it look?
    </div>
    <textarea formControlName="howShouldItLook" class="input-style text-area">
    </textarea>
  </div>
  <div class="bottom-text-area">
    <div class="input-text">
      Call To Action
    </div>
    <textarea formControlName="callToAction" class="input-style text-area">
    </textarea>
  </div>
  <div class="bottom-text-area">
    <div class="input-text">
      Is there anything else the NonProfit should know or consider?
    </div>
    <textarea formControlName="anyThingElse" class="input-style text-area">
    </textarea>
  </div>
</div>

<div class="buttons">
  <button class="clicksave">MAKE CHANGES</button>
  <div class="right-buttons">
    <button class="submit" (click)="onAccept()">SUBMIT</button>
    <button class="submit" (click)="onDecline()">DECLINE</button>
  </div>
</div>
</form>
