.main {
  border-radius: 5px;
  box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 73px;

  div {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    span {
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.33;
      letter-spacing: normal;
      color: #000000;
    }
    ng-select {
      width: 100%;
      height: 100%;
      font-family: Roboto;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.33;
      letter-spacing: normal;
      color: #000000;

    }
  }
  button{
    flex: 1;
    background-color: #58c5af;
    border: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}
