<!--<div>-->
<!--<mat-form-field appearance="none">-->
<!--  <mat-label>Select an option</mat-label>-->
<!--  <mat-select [(value)]="selected1">-->
<!--    <mat-option>None</mat-option>-->
<!--    <mat-option value="option1">Option 1</mat-option>-->
<!--    <mat-option value="option2">Option 2</mat-option>-->
<!--    <mat-option value="option3">Option 3</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--<mat-form-field appearance="none">-->
<!--  <mat-label>Select an option</mat-label>-->
<!--  <mat-select [(value)]="selected2">-->
<!--    <mat-option>None</mat-option>-->
<!--    <mat-option value="option1">Option 1</mat-option>-->
<!--    <mat-option value="option2">Option 2</mat-option>-->
<!--    <mat-option value="option3">Option 3</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--<button mat-flat-button>SEARCH</button>-->
<!--</div>-->
<div class="main">
  <div>
    <span>I'M A</span>
<ng-select [items]="simpleItems1"
           [searchable]=false
           [(ngModel)]="selectedSimpleItem1">
</ng-select>
  </div>
<div>
  <span>CATEGORY</span>
<ng-select [items]="simpleItems2"
           [searchable]=false
           [(ngModel)]="selectedSimpleItem2">
</ng-select>
</div>
<button>
  SEARCH
</button>
</div>

