@import "../../scss_mixins";
.side-bar-overlay {
  padding-left: 40px;
  height: 100%;
  max-width: 200px;
  z-index: 10;
  background-color: white;
  position: fixed;
  transition-delay: 1s;
}
.side-nav-button {
  display: none;
  @include tablet {
      display: block;
      position: fixed;
      font-size: 20px;
      z-index: 100;
    left: 20px;
    top: 25px;
  }
  @include mobile {
    left: 10px;
    top: 12px;
  }
}
.outer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: sticky;

  @include tablet {
    flex-wrap: wrap;
  }
  @include mobile {
    flex-direction: column;
    padding: 10px 0;
  }
  .heading {
    flex-grow: 1;
    font-family: Avenir, monospace;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.6px;
    color: #3a3a3a;
    @include tablet {
      text-align: center;
    }
  }
  .notification-items {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    //@include tablet {
    //  width: 40%;
    //}
    @include mobile {
      flex-direction: column-reverse;
      margin: 0 20px;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      li {
        padding: 0 20px;
        margin: 0 auto;
        font-size: 20px;
        color: #c4c4c4;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
  .search {
    flex-grow: 2;
    font-family: Roboto, monospace;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
    position: relative;
    input {
      padding: 15px 30px 15px 21px;
      border-radius: 100px;
      border: solid 1.5px #dee2e2;
      color: #c4c4c4;
      width: 80%;
      @include mobile {
        padding: 10px 15px;
      }
      @include tablet {
        width: 90%;
      }
    }
    i {
      position: absolute;
      right: 20px;
      top: 11px;
      font-size: 20px;
      @include mobile {
        font-size: 15px;
      }
      @include mobile {
        right: 5px;
      }
    }
    @include tablet {
      width: 90%;
    }
  }
  .placeholder {
    width: 50%;
    @include  tablet {
      display: none;
    }
  }
}
