<form [formGroup]="influencerProposalForm">
<app-view-proposal-top [proposal]="proposal"></app-view-proposal-top>
<div class="card">
  <div class="heading">
    Additional Information
  </div>
  <div class="sub-heading">
    This information will help us to align your goals with the best influencer for your organization
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Are you able to offer a tax receipt to an influencer who donates back to the cause?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input  [value]="true" type="radio" name="offerTaxReceipt" disabled [checked]="proposal.proposal.taxReceipt"> Yes
          <input  [value]="false" type="radio" name="offerTaxReceipt" disabled [checked]="!proposal.proposal.taxReceipt"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option campaignRevenueGenerated">
      <div class="input-text">
        How much of the campaign revenue % are you interested in giving back?
      </div>
      <input *ngIf="proposal.proposal.statusInfluencer.id !== '1'" formControlName="revenueDonated" class="input-style revenueDonated" type="number" placeholder="10" min="0" max="100">
      <ng-container *ngIf="proposal.proposal.statusInfluencer.id === '1'">
        {{proposal.proposal.percentRevenueInfluencer}}%
      </ng-container>
    </div>
  </div>
  <div class="bottom-text-area">
    <div class="input-text">
      Is there anything else the influencer should know or consider?
    </div>
    <textarea *ngIf="proposal.proposal.statusInfluencer.id !== '1'" formControlName="anyThingElse" class="input-style text-area">
    </textarea>
    <ng-container *ngIf="proposal.proposal.statusInfluencer.id === '1'">
      {{proposal.proposal.anythingElseInfluencer}}
    </ng-container>
  </div>
</div>

<div class="buttons" *ngIf="proposal.proposal.statusInfluencer.id !== '1'">
<!--  <button class="clicksave">MAKE CHANGES</button>-->
  <div class="right-buttons">
    <button class="submit" (click)="onAccept()">ACCEPT</button>
    <button class="submit" (click)="onDecline()">DECLINE</button>
  </div>
</div>
  <div class="card" *ngIf="proposal.proposal.statusInfluencer.id === '1' && proposal.proposal.sponsorshipIntegration && proposal.proposal.statusSponsor.id !== '1'">
    Please wait for a sponsor.
  </div>
</form>

<div class="card" *ngIf="proposal.proposal.statusInfluencer.id === '1' && proposal.proposal.sponsorshipIntegration && proposal.proposal.statusSponsor.id === '1'">
  <div class="heading">
    Sponsorship Information
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" disabled [checked]="proposal.proposal.promotingCampaignSponsor" [value]="true" name="promotingCampaign"> Yes
          <input type="radio" disabled [checked]="!proposal.proposal.promotingCampaignSponsor" [value]="false" name="promotingCampaign"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        What is your budget for this campaign?
      </div>
      <div class="sub-heading">
        Please note this will be split equally as a sponsorship fee to the influencer and a donation to the nonprofit organization
      </div>
      $&nbsp; {{proposal.proposal.budgetSponsor}}
    </div>
  </div>
  <div class="should-it-look">
    <div class="input-text">
      How Should It Look?
    </div>
    <div class="text-on-input">
      {{proposal.proposal.howShouldItLookSponsor}}
    </div>
  </div>
  <div class="call-to-action">
    <div class="input-text">
      Call To Action
    </div>
    <div class="text-on-input">
      {{proposal.proposal.callToActionSponsor}}
    </div>
  </div>
</div>

<div class="buttons" *ngIf="proposal.proposal.statusInfluencer.id === '1' && proposal.proposal.sponsorshipIntegration && proposal.proposal.statusSponsor.id === '1' && proposal.proposal.statusInfluencerWithSponsor.id !== '1'">
  <div class="right-buttons">
    <button class="submit" (click)="onAcceptWithSponsor()">ACCEPT</button>
    <button class="submit" (click)="onRejectWithSponsor()">DECLINE</button>
  </div>
</div>
<div class="buttons" *ngIf="proposal.proposal.statusInfluencerWithSponsor.id === '1'">
  Already accepted
</div>
