<div class="upper">
  <div class="heading">
    Overview
  </div>
  <div class="upper-cards">
    <div class="card">
      <div class="card-text">
        Total Amount Raised
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Amazon Pay Balance
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Active Campaigns
      </div>
      <div class="card-amount">
        0
      </div>
    </div>
  </div>
</div>
<div class="lower">
<!--  <div class="heading">-->
<!--    <div class="heading-text">-->
<!--      Matches-->
<!--    </div>-->
<!--    <div class="heading-match">-->
<!--      <i class="fa fa-filter" aria-hidden="true"></i>-->
<!--      <select>-->
<!--        <option>Name A - Z </option>-->
<!--        <option>Name A - Z </option>-->
<!--        <option>Name A - Z </option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
  <app-proposal-status-influencer></app-proposal-status-influencer>
</div>

