@import '../../scss_mixins';
.upper {
  width: 100%;
  .heading {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 20px;
  }
  .upper-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      .card {
        width: 100%;
      }
    }
    .card {
      border-radius: 5px;
      box-shadow: 1px 2px 4px 0 rgba(58, 58, 58, 0.1);
      background-color: white;
      width: 32%;
      height: 95px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mobile {
        width: 100%;
        margin-top: 10px;
      }
      .card-text {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
      .card-amount {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
    }
  }
}
.lower {
  margin-top: 32px;
  .heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    .heading-text {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    .heading-match {
      i {
        color: #c4c4c4;
        margin-right: 20px;
        font-size: 15px;
      }
      select {
        border-radius: 100px;
        border: solid 1px #dee2e2;
        padding: 5px 10px;
        font-family: Roboto;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
    }
  }

}
