#addressBookWidgetDiv {
  width: 400px;
  height: 400px;
}
#walletWidgetDiv {
  width: 400px;
  height: 400px;
}
.block-heading {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
}
.mid-block {
  margin-top: 100px;
}
.payments-due {
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0 rgba(58, 58, 58, 0.1);
    background-color: #e3f4fb;
    padding: 30px 50px;
    margin-top: 10px;
    .card-left {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .card-new {
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #6bcbb8;
      }
      .campaignName {
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
      .between {
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
      table {
        tbody {
          tr {
            td {
              padding-right: 30px;
              font-family: Roboto;
              font-size: 10px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.4;
              letter-spacing: normal;
              color: #3a3a3a;
            }
          }
        }
      }
    }
    .card-right {
      width: 33%;
      .pay-details {
        display: flex;
        justify-content: space-between;

      }
    }
  }
}
.transaction-history-card {
  table {
    width: 100%;
    border-spacing: 0 10px;
    overflow-x: scroll;
    thead {
      tr {
        td {
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.33;
          letter-spacing: normal;
          color: #000000;
          padding: 10px 10px;
        }
      }
    }
    tbody {
      tr {
        background: white;
        margin: 0;
        border-radius: 5px;
        box-shadow: 1px 2px 4px 0 rgba(58, 58, 58, 0.1);
        td {
          font-family: Roboto;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.33;
          letter-spacing: normal;
          color: #000000;
          padding: 30px 10px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
    tr:first-child td:first-child { border-top-left-radius: 10px; }
    tr:first-child td:last-child { border-top-right-radius: 10px; }
    tr:last-child td:first-child { border-bottom-left-radius: 10px; }
    tr:last-child td:last-child { border-bottom-right-radius: 10px; }
  }
}
.amazon-paybutton {
  margin-top: 30px;
  button {
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0 rgba(20, 110, 180, 0.1);
    padding: 10px 30px;
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background: #0099d9;
  }
}
