<div class="block-heading">Payments Due</div>
<div class="payments-due" *ngIf="duePayments !== undefined">
  <div class="card" *ngFor="let payment of duePayments">
    <div class="card-left">
      <div class="card-new">New</div>
      <div class="campaignName">
        {{payment.proposal.campaignName}}
      </div>
      <div class="between">Between :</div>
      <table>
        <tbody>
        <tr>
          <td *ngIf="payment.proposal.sponsor !== null">
            {{payment.proposal.sponsor.sponsor.firstName}} {{payment.proposal.sponsor.sponsor.lastName}}
            <br>
            {{payment.proposal.sponsor.sponsor.organisation}}
          </td>
          <td>
            {{payment.proposal.influencer.influencer.firstName}} {{payment.proposal.influencer.influencer.lastName}}
            <br>
            YouTuber
          </td>
          <td>
            {{payment.proposal.non_profit.non_profit.firstName}} {{payment.proposal.non_profit.non_profit.lastName}}
            <br>
            {{payment.proposal.non_profit.non_profit.organisation}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-right">
      <div class="pay-details" *ngIf="payment.to.id === payment.proposal.non_profit.id">
        <div class="pay-details-heading">
          Non Profit Organization
        </div>
        <div class="pay-details-heading">
          ${{payment.amount | number}}
        </div>
      </div>
      <div class="pay-details" *ngIf="payment.to.id === payment.proposal.influencer.id">
        <div class="pay-details-heading">
          Influencer
        </div>
        <div class="pay-details-heading">
          ${{payment.amount | number}}
        </div>
      </div>
      <div class="pay-details pay-details-total">
        <div class="pay-details-heading">
          Balance
        </div>
        <div class="pay-details-heading">
          ${{payment.amount | number}}
        </div>
      </div>
      <div class="amazon-paybutton">
        <button (click)="paymentComplete(payment.id)">Pay Now</button>
      </div>
    </div>
  </div>
</div>
<div class="block-heading mid-block">Transaction History</div>
<div class="transaction-history-card">
  <table>
    <thead>
      <tr>
        <td>
          Campaign End Date
        </td>
        <td>
          Campaign Name
        </td>
        <td>
          From
        </td>
        <td>
          To
        </td>
        <td>
          Amount
        </td>
        <td>
          Status
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of completedPayments">
        <td>{{payment.proposal.campaignEndDate}}</td>
        <td>{{payment.proposal.campaignName}}</td>
        <td>
          You
        </td>
        <td>
          <ng-container *ngIf="payment.to.id === payment.proposal.influencer.id"> {{payment.proposal.influencer.influencer.firstName}} {{payment.proposal.influencer.influencer.lastName}}</ng-container>
          <ng-container *ngIf="payment.to.id === payment.proposal.non_profit.id"> {{payment.proposal.non_profit.non_profit.organisation}}</ng-container>
        </td>
        <td>${{payment.amount | number}}</td>
        <td><ng-container *ngIf="payment.payment_status.id === '1'">Done</ng-container>
          <ng-container *ngIf="payment.payment_status.id === '2'">Pending</ng-container></td>
      </tr>
      <tr *ngFor="let payment of receivedPayments">
        <td>{{payment.proposal.campaignEndDate}}</td>
        <td>{{payment.proposal.campaignName}}</td>
        <td>
          <ng-container *ngIf="payment.from.id === payment.proposal.influencer.id"> {{payment.proposal.influencer.influencer.firstName}} {{payment.proposal.influencer.influencer.lastName}}</ng-container>
          <ng-container *ngIf="payment.from.id === payment.proposal.sponsor.id"> {{payment.proposal.sponsor.sponsor.organisation}}</ng-container></td>
        <td>You</td>
        <td>${{payment.amount | number}}</td>
        <td><ng-container *ngIf="payment.payment_status.id === '1'">Done</ng-container>
          <ng-container *ngIf="payment.payment_status.id === '2'">Pending</ng-container></td>
      </tr>
    </tbody>

  </table>
</div>
