<app-start-campaign-modal></app-start-campaign-modal>
<div class="upper">
  <div class="heading">
    Overview
  </div>
  <div class="upper-cards">
    <div class="card">
      <div class="card-text">
        Total Amount Raised
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Amazon Pay Balance
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Active Campaigns
      </div>
      <div class="card-amount">
        0
      </div>
    </div>
  </div>
</div>
<div class="heading" *ngIf="userType === '1'">
  <div class="heading-text">
    New Campaign
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<div class="new-campaign" *ngIf="userType === '1'">
  <table>
    <thead>
    <tr>
      <td>Campaign</td>
      <td>NONPROFIT</td>
      <td>SPONSOR</td>
      <td>AMOUNT</td>
    </tr>
    </thead>
    <tbody *ngIf="newCampaign !== undefined">
    <tr *ngFor="let proposal of newCampaign.proposals">
      <td>{{proposal.campaignName}}</td>
      <td>{{proposal.non_profit.non_profit.organisation}}</td>
      <td><ng-container *ngIf="proposal.sponsor !== null">{{proposal.sponsor.sponsor.firstName}} {{proposal.sponsor.sponsor.lastName}}</ng-container></td>
      <td><ng-container *ngIf="proposal.sponsor !== null">{{proposal.budgetSponsor}}</ng-container></td>
      <td><button (click)="showStartCampaignModal(proposal.id)" class="button">Start Campaign</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="heading">
  <div class="heading-text">
    Active Campaign
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<div class="active-campaign" *ngIf="activeCampaign !== undefined">
  <div class="card" *ngFor="let campaign of activeCampaign.proposals">
    <div class="card-top">
      <div class="card-top-image">
        <img src="assets/images/YouTube%20Thumbnail.png">
      </div>
      <div class="card-top-amountRaised">
        Total Amount Raised
        <div class="amount">
          $10, 000
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="campaignName">
        {{campaign.campaignName}}
      </div>
      <div class="people-involved">
        <div class="non-profit">
          <b>NonProfit Organisation</b><br>
          {{campaign.non_profit.non_profit.organisation}}
        </div>
        <div class="sponsor" *ngIf="campaign.sponsor !== null">
          <b>Sponsor</b><br>
          {{campaign.sponsor.sponsor.organisation}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="view-more-button">
        <a (click)="goToCampaign(campaign.campaign.id)">View More</a>
      </div>
    </div>
  </div>
</div>
