<div class="heading">
  <div class="heading-text">
    Proposal
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<table>
  <thead>
  <tr>
    <td>Date</td>
    <td>CAMPAIGN</td>
    <td>NON PROFIT</td>
    <td>STATUS</td>
    <td>SPONSOR</td>
    <td>STATUS</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let proposal of proposals; let i = index" (click)="goToViewProposal(proposal.id, i)">
    <td>{{proposal.proposalApprovalDate | date:'shortDate'}}</td>
    <td>{{proposal.campaignName}}</td>
    <td>{{proposal.non_profit.non_profit.organisation}}</td>
    <td style="color: {{status[proposal.statusInfluencer.id].color}}">
      {{status[proposal.statusInfluencer.id].name}}
      <br>
      <ng-container *ngIf="proposal.statusInfluencer.id === '2'">
        {{getRemainingDays(proposal.proposalApprovalDate)}} Days Left
      </ng-container>
    </td>
    <td>
      <ng-container *ngIf="proposal.statusSponsor.id === '1'">{{proposal.sponsor.sponsor.organisation}}</ng-container>
      <ng-container *ngIf="proposal.statusSponsor.id === '6'">Closed</ng-container>
      <ng-container *ngIf="proposal.statusSponsor.id === '3'">In MarketPlace</ng-container>
    </td>
    <td style="color: {{status[proposal.statusSponsor.id].color}}">{{status[proposal.statusSponsor.id].name}}
      <br>
      <ng-container *ngIf="proposal.statusSponsor.id === 1">
        {{getRemainingDays(proposal.proposalApprovalDate)}} Days Left
      </ng-container>
    </td>
  </tr>
  </tbody>

</table>
