<div class="heading">
  <div class="heading-text">
    Proposal
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<table>
  <thead>
  <tr>
    <td>Date</td>
    <td>CAMPAIGN</td>
    <td>NONPROFIT</td>
    <td>INFLUENCER</td>
    <td>STATUS</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let proposal of proposals; let i = index" (click)="goToViewProposal(proposal.id)">
    <td>{{proposal.proposalApprovalDate | date:'shortDate'}}</td>

    <td>{{proposal.campaignName}}</td>

    <td>{{proposal.non_profit.non_profit.firstName}} {{proposal.non_profit.non_profit.lastName}}</td>

    <td>{{proposal.influencer.influencer.firstName}} {{proposal.influencer.influencer.lastName}}</td>

    <td style="color: {{status[proposal.statusSponsor.id].color}}">
      {{status[proposal.statusSponsor.id].name}}
      <br>
      <ng-container *ngIf="proposal.statusSponsor.id === '2'">
        {{getRemainingDays(proposal.proposalApprovalDate)}} Days Left
      </ng-container>
    </td>
  </tr>
  </tbody>

</table>
