<div class="outer">
  <div class="outer-inner">
  <div class="heading">
    <img src="{{a.image}}">
    <div class="heading-text">
      {{a.title}}
    </div>
  </div>
  <div class="stats">
    <div class="block" *ngFor="let item of a.stats | keyvalue">

        <div class="stat-head">
        {{item.key}}
        </div>
        <div class="stat-text">
          {{item.value}}
        </div>
    </div>
  </div>
  </div>
</div>

