<div class="card">
  <div class="heading">
    Campaign Proposal
  </div>
  <div class="influencer-details" *ngIf="proposal.proposal.non_profit.non_profit">
    <div class="image">
      <img src="assets/images/Shelli.png">
    </div>
    <div class="name-detail">
      <div class="name">
        {{proposal.proposal.non_profit.non_profit.firstName}} {{proposal.proposal.non_profit.non_profit.lastName}}
      </div>
      <div class="post">
        {{proposal.proposal.non_profit.non_profit.organisation}}
      </div>
    </div>
  </div>
  <div class="influencer-details" *ngIf="proposal.proposal.influencer.influencer">
    <div class="image">
      <img src="{{proposal.proposal.influencer.influencer.googlePhotoUrl}}">
    </div>
    <div class="name-detail">
      <div class="name">
        {{proposal.proposal.influencer.influencer.firstName}} {{proposal.proposal.influencer.influencer.lastName}}
      </div>
      <div class="post">
        Influencer(s)
      </div>
    </div>
  </div>

</div>

<div class="card">
  <div class="heading">
    Basic Information
  </div>
  <div class="sub-heading">
  </div>
  <div class="campaign-name-category">
    <div class="input-name">
      <div class="input-text">
        Campaign Name
      </div>
      <div class="text-on-input">
        {{proposal.proposal.campaignName}}
      </div>
    </div>
    <div class="input-category">
      <div class="input-text">
        Campaign Category
      </div>
      <div class="text-on-input">
        {{categories[proposal.proposal.type_of_non_profit_organisation.id-1]}}
      </div>
    </div>
  </div>
  <div class="campaign-description">
    <div class="input-text">
      Campaign Description
    </div>
    <div class="text-on-input">
      {{proposal.proposal.campaignDescription}}
    </div>
  </div>
  <div class="campaign-date">
    <div class="campaign-date-left">
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign Start Date
        </div>
        {{proposal.proposal.campaignStartDate | date:'short'}}
      </div>
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign End Date
        </div>
        <div class="text-on-input">
          {{proposal.proposal.campaignEndDate | date:'short'}}
        </div>
      </div>
    </div>
    <div class="campaign-date-right">
      <div class="campaign-date-input">
        <div class="input-text">
          Proposal Approval Date
        </div>
        <div class="text-on-input">
          {{proposal.proposal.proposalApprovalDate | date:'short'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="heading">
    Campaign Visibility
  </div>
  <div class="sub-heading">
    This information will help the influencer understand what your expectations for the campaign
  </div>
  <div class="social-promoters">
    <div class="input-text">
      Please indicate which platforms you would like your campaign to target
    </div>
    <div class="social-checkboxes">
      <div class="social-checkbox">
        <img src="../../../../assets/images/Facebook%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(1)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Instagram%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(2)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/TikTok%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(3)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Snapchat%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(4)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/YouTube%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(5)">
      </div>
    </div>
  </div>
  <div class="should-it-look">
    <div class="input-text">
      How Should It Look?
    </div>
    <div class="text-on-input">
      {{proposal.proposal.howShouldItLookNonProfit}}
    </div>
  </div>
  <div class="call-to-action">
    <div class="input-text">
      Call To Action
    </div>
    <div class="text-on-input">
      {{proposal.proposal.callToActionNonProfit}}
    </div>
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Are you interested in allowing a for-profit organization sponsor this campaign?*
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="interestInNonProfit" disabled [checked]="proposal.proposal.sponsorshipIntegration"> Yes
          <input type="radio" name="interestInNonProfit" disabled [checked]="!proposal.proposal.sponsorshipIntegration"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="enablePrompt"  disabled [checked]="proposal.proposal.nonprofitOrganizationPromotion"> Yes
          <input type="radio" name="enablePrompt" disabled [checked]="!proposal.proposal.nonprofitOrganizationPromotion"> No
        </div>
      </div>
    </div>
  </div>
</div>
