@import "../scss_mixins";
.outer {
  height: auto;
  min-height: 100%;
  background-color: #f8f8f8;
  .nav-bar {
    height: 80px;
    app-dashboard-topbar {
      position: fixed;
      width: 100%;
      @include mobile {
        position: inherit;
      }
    }
    @include tablet {
      height: 120px;
    }
    @include mobile {
      height: 140px;
    }
  }
  .inner {
    padding: 50px 100px 0;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    .outer-side-bar {
      width: 25%;
      min-width: 200px;
      @include tablet {
        width: auto;
        min-width: 0px;
      }
      .side-bar {
        //flex-grow: 1;
        //position: fixed;
        //width: inherit;
        app-dashboard-sidebar {
          //position: fixed;
        }

        @include tablet {
          display: none;
        }
      ;
      }
    }
    .router-outlet {
      //flex-grow: 3;
      width: 75%;
      @include tablet {
        width: 100%;
      }
    }
    @include tablet {
      padding: 50px 50px 0;
    }

  }
}
