<!--<button (click)="logout()">Logout</button>-->
<app-logout-modal></app-logout-modal>
<app-start-campaign-modal></app-start-campaign-modal>
<app-end-campaign-modal></app-end-campaign-modal>
<div class="outer">
  <div class="nav-bar">
<app-dashboard-topbar></app-dashboard-topbar>
  </div>
<div class="inner">
  <div class="outer-side-bar">
    <div class="side-bar">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
