<div class="outer">
  <div class="inner" *ngIf="campaignDetails.campaign !== null">
    <div class="influencer-name">
      {{campaignDetails.campaign.proposal.influencer.influencer.firstName}} {{campaignDetails.campaign.proposal.influencer.influencer.lastName}}
    </div>
    <div class="campaign-name">
      {{campaignDetails.campaign.proposal.campaignName}}
    </div>
    <div class="sometext">
      {{campaignDetails.campaign.proposal.influencer.influencer.firstName}} {{campaignDetails.campaign.proposal.influencer.influencer.lastName}} have teamed up with the {{campaignDetails.campaign.proposal.non_profit.non_profit.organisation}}
      <ng-container *ngIf="!campaignDetails.campaign.proposal.sendOnlyToInfluencers">and {{campaignDetails.campaign.proposal.sponsor.sponsor.organisation}}</ng-container>to {{campaignDetails.campaign.proposal.campaignDescription}}. Donate today to make a difference!
    </div>
    <form class="form">
      <label class="left">
        <span>Your Name</span>
        <input class="input">
      </label>
      <label class="left">
        <span>last Name</span>
        <input class="input">
      </label>
      <label class="right">
        <span>Email Address</span>
        <input class="input">
      </label>
    </form>
    <div class="amazon-donation">
      <div class="heading-donation">
        Enter Your Donation
      </div>
      <div class="text-donation">
        Please note that 100% of your donation will be made directly to the nonprofit organization featured in this campaign
      </div>
      <div class="donation-component" *ngIf="scriptLoaded">
        <div
          data-ap-widget-type="expressDonationWidget"
          data-ap-widget-theme="ap-light"
          data-ap-widget-amount-presets="5,25,50,100"
          data-ap-widget-default-amount="1"
          data-ap-signature="v0v4cDy9PqWN%2FDmXCyIEyLVDRbaw25jHoKNZFDKckTg%3D"
          data-ap-seller-id="A2S2XWN7B3EK8I"
          data-ap-access-key="AKIAJKVNMI4FH74OQDUA"
          data-ap-lwa-client-id="amzn1.application-oa2-client.be5c3cbc93584d519c0682ec45ec1a86"
          data-ap-return-url="https://master.ddtfzmv0ytpn4.amplifyapp.com/cid/1"
          data-ap-currency-code="USD"
          data-ap-amount="0"
          data-ap-note=""
          data-ap-shipping-address-required="false"
          data-ap-payment-action="AuthorizeAndCapture"
        >
        </div>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/images/BlackBackground.png">
  </div>
</div>

