@import "../scss_mixins";
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 100px 100px;
}

header {
  height: 100px;
  padding: 0px 100px;
  ul {
    list-style-type: none;
    text-align: center;
    li {
      padding: 15px 20px;
      margin-top: 15px;
    }
    .heading {
      font-family: "Avenir", serif;
      font-size: 20px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.6px;
      color: #3a3a3a;
    }
    .sub-heading {
      font-family: "Roboto", serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3a3a3a;
      &:hover {
        cursor: pointer;
      }
    }
    .left {
      float: left;
    }
    .right {
      float: right;

    }
    @include tablet {
      .right {
        float: none;
       display: inline;
     }
      .left {
        float: none;
      }
    }
    @include mobile {
      .left, .right {
        display: block;
        float: none;
        padding: 10px 7px;
      }
    }
    .signup {
      border-radius: 5px;
      box-shadow: 1px 2px 4px 0 rgba(20, 110, 180, 0.1);
      background-color: #0099d9;
      color: white;
    }
  }
  @include tablet {
    height: 120px;
  }
  @include mobile {
    height: 250px;
  }
}

.section1 {
  padding: 100px 100px;
  display: flex;
  .left {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
  .heading {
      font-family: Roboto;
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3a3a3a;
    margin-bottom: 18px;
    }
    .text {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #3a3a3a;
    }
    .selector {
      display: block;
    }
  }
  .right {
    width: 50%;
    .image {
      width: 100%;
    }
  }
  @include tablet {
    flex-direction: column-reverse;
    .left, .right {
      text-align: center;
      width: 100%;
    }
  }
  @include tablet {
    padding: 50px 20px;
  }
  @include mobile {
    padding: 30px 10px;
  }
}


.section2 {
  padding: 100px 100px;
  display: flex;
  .left {
    margin-right: 28px;
  }
  .right {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .section-name {
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0099d9;
    }
    .heading {
      font-family: Roboto;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.92;
      letter-spacing: normal;
      color: #3a3a3a;
    }
    .text {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #3a3a3a;
    }
  }
  .left {
    width: 50%;
    .image {
      width: 100%;
    }
  }
  @include tablet {
    flex-direction: column;
    .left, .right {
      text-align: center;
      width: 100%;
    }
  }
  @include tablet {
    padding: 50px 20px;
  }
  @include mobile {
    padding: 30px 10px;
  }
}

.section3 {
  padding: 100px 100px;
  .text {
    text-align: center;
    padding: 50px;
    .bluetext {
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0099d9;
    }
    .heading {
      font-family: Roboto;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #3a3a3a;
      max-width: 590px;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .subtext {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #3a3a3a;
      max-width: 790px;
      margin: 0 auto;
    }
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    .card {
      width: 25vh;
      height: 25vh;
      border-radius: 5px;
      box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      text-align: center;
      padding: 5vh 5vh;
      margin: 10px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .number {
        font-family: Roboto;
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0099d9;
      }
      .card-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #3a3a3a;
      }

    }
    @include mobile {
      flex-direction: column;
      justify-content: space-evenly;
      .card {
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }
  }
  @include tablet {
    padding: 50px 20px;
  }
  @include mobile {
    padding: 30px 10px;
  }
}
.section4 {
  text-align: center;

  .bluetext {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0099d9;

  }
  .heading {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3a3a3a;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    .card {
      height: 30vh;
      width: 30vh;

      img {
        height: 75px;
        width: 75px;
      }
      .card-heading {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3a3a3a;
      }
      .card-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #3a3a3a;
      }
    }
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 30px;
  * {
    list-style-type: none;
  }
  div {
    padding: 10px 30px;
  }
  .big-heading {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.6px;
    color: var(--black);
    margin-bottom: 50px;
  }
  .list-icons {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        font-size: 25px;
      }
    }
  }
  .heading {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 50px;
  }
  .list-items {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    ul {
      li {
        padding-bottom: 10px;
      }
    }
  }
}
.copyright {
  text-align: center;
}
