<header>
  <ul>
    <li class="left heading">CLOUTVOCATE</li>

    <li class="right sub-heading signup" routerLink="/register">SIGN UP</li>
    <li class="right sub-heading login" routerLink="/login">LOGIN</li>
  </ul>
</header>
<section class="section1">
  <div class="left">
    <div class="heading">
      We match organizations with influencers to elevate meaningful causes and drive vital donations
    </div>
    <div class="text">
      In today's digital world, influencer marketing is becoming an increasingly beneficial strategy to reach new generations of donors on a global scale. Join us as a nonprofit organization, social media influencer, or corporate sponsor to match with partners who align with your mission goals to begin creating custom content to inspire results.
    </div>
<!--    <div class="selector">-->
<!--      <app-home-selector></app-home-selector>-->
<!--    </div>-->
  </div>
  <div class="right">
  <img class='image' [src]="'assets/images/HeroIllustration.png'">
  </div>
</section>

<section class="section2">
  <div class="left">
    <img class='image' [src]="'assets/images/OurMission.png'">

  </div>
  <div class="right">
    <div class="section-name">OUR MISSION</div>
    <div class="heading">
      Together We Can Change The World
    </div>
    <div class="text">
      We recognize that it’s not always possible for organizations to secure the support of influencers to champion their cause. Cloutvocate offers an in-depth platform that strategically aligns partners with similar goals and interests to establish mutually beneficial partnerships between nonprofit organizations, corporations, and influencers. Our goal is to identify and match the perfect partnerships using new technology to maximize exposure and reach, augment mission awareness, boost fundraising goals and donations, as well as incentivize influencers for their help in promoting purposeful causes.
    </div>
  </div>
</section>
<section class="section3">
  <div class="text">
    <div class="bluetext">
      WHY USE CLOUTVOCATE?
    </div>
    <div class="heading">
      Leverage Technology to Achieve Mission Goals
      & Advance the Impact
    </div>
    <div class="subtext">
      Long gone are the days of spending hours and days manually searching through social media to connect with influencers aligned wth your mission goals. Cloudvocate automates the matchmaking process to suggest recommended profiles based on your objectives and target audience 100x faster.
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <div class="number">
        55%
      </div>
      <div class="card-text">
        of people who engage with nonprofits on social media
        end up taking action
      </div>
    </div>
    <div class="card">
      <div class="number">
        59%
      </div>
      <div class="card-text">
        of people who engage with nonprofits on social media
        end up taking action
      </div>
    </div>
    <div class="card">
      <div class="number">
        53%
      </div>
      <div class="card-text">
        of people who engage with nonprofits on social media
        end up taking action
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="bluetext">
    KEY FEATURES
  </div>
  <div class="heading">
    A Fully Integrated Platform Designed to Deliver Results
  </div>
  <div class="cards">
  <div class="card">
    <img src="assets/images/StrategicPartnerships.png">
    <div class="card-heading">
      Strategic Partnerships
    </div>
    <div class="card-text">
      We strategically align organizations and influencers with a mutual interest in partnering together to support a variety of causes
    </div>
  </div>
  <div class="card">
    <img src="assets/images/PoweredByData.png">
    <div class="card-heading">
      Powered By Data
    </div>
    <div class="card-text">
      Access analytics and reporting directly from your campaign to enable you to make informed, data-driven decisions.
    </div>
  </div>
  <div class="card">
    <img src="assets/images/CustomContentCreation.png">
    <div class="card-heading">
      Custom Content Creation
    </div>
    <div class="card-text">
      Work in partnership to create custom content that aligns with your campaign objectives and mission goals
    </div>
  </div>
  </div>
  <div class="cards">
  <div class="card">
    <img src="assets/images/BoostDonations.png">
    <div class="card-heading">
      Boost Donations
    </div>
    <div class="card-text">
      Reach your target audience in an organic and captivating way to inspire action and reach fundraising goals
    </div>
  </div>
  <div class="card">
    <img src="assets/images/SponsorshipMarketplace.png">
    <div class="card-heading">
      Sponsorship Marketplace
    </div>
    <div class="card-text">
      Our unique marketplace helps match corporate partners with upcoming campaigns to sponsor and support
    </div>
  </div>
  <div class="card">
    <img src="assets/images/StrategicPartnerships.png">
    <div class="card-heading">
      Reach a Global Audience
    </div>
    <div class="card-text">
      Harness the power of influencers to reach large and already established audiences from around the world
    </div>
  </div>
  </div>
</section>
<footer>
<div>
  <div class="big-heading">
    Cloutvocate
  </div>
  <div class="list-icons">
    <ul>
      <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
  <div>
    <div class="heading">
      Products
    </div>
    <div class="list-items">
      <ul>
        <li>Influencer Network</li>
        <li>Donation Platform</li>
        <li>Content Creation</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="heading">
      Company
    </div>
    <div class="list-items">
      <ul>
        <li>About Us</li>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="heading">
      Learn More
    </div>
    <div class="list-items">
      <ul>
        <li>Case Studies</li>
        <li>Features</li>
        <li>FAQs</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="heading">
      Contact
    </div>
    <div class="list-items">
      <ul>
        <li>hello@cloutvocate.com</li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyright">
  © 2020 Cloutvocate
</div>
