<form [formGroup]="proposalForm" (ngSubmit)="onSubmit()">
<div class="card">
  <div class="heading">
    You Have Selected to Propose a Campaign to
  </div>
  <div class="influencer-details" *ngIf="influencerDetails.user !== null">
    <div class="image">
      <img src="{{influencerDetails.user.influencer.googlePhotoUrl}}">
    </div>
    <div class="name-detail">
      <div class="name">
        {{influencerDetails.user.influencer.firstName}} {{influencerDetails.user.influencer.lastName}}
      </div>
      <div class="post">
        Influencer(s)
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="heading">
    Basic Information
  </div>
  <div class="sub-heading">
    Please fill in the information below to launch your proposal
  </div>
  <div class="campaign-name-category">
    <div class="input-name">
      <div class="input-text">
        Campaign Name
      </div>
      <input formControlName="campaignName" class="input-style" type="text">
    </div>
    <div class="input-category">
      <div class="input-text">
        Campaign Category
      </div>
      <select class="input-style" formControlName="campaignCategory">
        <option *ngFor="let category of campaignCategory; let i = index" value="{{i+1}}">{{category}}</option>
      </select>
    </div>
  </div>
  <div class="campaign-description">
    <div class="input-text">
      Campaign Description
    </div>
    <textarea formControlName="campaignDescription" class="input-style text-area">
    </textarea>
  </div>
  <div class="campaign-date">
    <div class="campaign-date-left">
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign Start Date
        </div>
        <input formControlName="campaignStartDate" type="date" class="input-style">
    </div>
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign End Date
        </div>
        <input formControlName="campaignEndDate" type="date" class="input-style">
      </div>
    </div>
    <div class="campaign-date-right">
      <div class="campaign-date-input">
        <div class="input-text">
          Proposal Approval Date
        </div>
        <input formControlName="proposalApprovalDate" type="date" class="input-style">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="heading">
    Campaign Visibility
  </div>
  <div class="sub-heading">
    This information will help the influencer understand what your expectations for the campaign
  </div>
  <div class="social-promoters">
    <div class="input-text">
      Please indicate which platforms you would like your campaign to target
    </div>
    <div class="social-checkboxes">
      <div class="social-checkbox">
        <img src="../../../../assets/images/Facebook%20Logo.png">
        <input type="checkbox" value="1" (change)="onCheckChange($event)" formGroupName="targetPlatform">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Instagram%20Logo.png">
        <input type="checkbox" value="2" (change)="onCheckChange($event)" formGroupName="targetPlatform">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/TikTok%20Logo.png">
        <input type="checkbox" value="3" (change)="onCheckChange($event)" formGroupName="targetPlatform">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Snapchat%20Logo.png">
        <input type="checkbox" value="4" (change)="onCheckChange($event)" formGroupName="targetPlatform">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/YouTube%20Logo.png">
        <input type="checkbox" value="5" (change)="onCheckChange($event)" formGroupName="targetPlatform">
      </div>
    </div>
  </div>
  <div class="should-it-look">
    <div class="input-text">
      How Should It Look?
    </div>
    <textarea formControlName="howShouldItLook" class="input-style text-area"></textarea>
  </div>
  <div class="call-to-action">
    <div class="input-text">
      Call to action
    </div>
    <textarea formControlName="callToAction" class="input-style text-area"></textarea>
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Are you interested in allowing a for-profit organization sponsor this campaign?*
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input formControlName="interestInForProfit" [value]="true" type="radio" name="interestInForProfit"> Yes
          <input formControlName="interestInForProfit" [value]="false" type="radio" name="interestInForProfit"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input formControlName="promotingCampaign" [value]="true" type="radio" name="promotingCampaign"> Yes
          <input formControlName="promotingCampaign" [value]="false" type="radio" name="promotingCampaign"> No
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="heading">
    Additional Information
  </div>
  <div class="sub-heading">
    This information will help us to align your goals with the best influencer for your organization
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Send only to influencers interested in giving back a % of the revenue to your cause?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input formControlName="sendOnlyToInfluencer" [value]="true" type="radio" name="sendOnlyToInfluencer"> Yes
          <input formControlName="sendOnlyToInfluencer" [value]="false" type="radio" name="sendOnlyToInfluencer"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Are you able to offer a tax receipt to an influencer who donates back to the cause?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input formControlName="offerTaxReceipt" [value]="true" type="radio" name="offerTaxReceipt"> Yes
          <input formControlName="offerTaxReceipt" [value]="false" type="radio" name="offerTaxReceipt"> No
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-text-area">
    <div class="input-text">
      Is there anything else the influencer should know or consider?
    </div>
    <textarea formControlName="anyThingElse" class="input-style text-area">
    </textarea>
  </div>
</div>

<div class="buttons">
  <button class="clicksave">CANCEL & SAVE</button>
  <button type="submit" class="submit" [disabled]="!this.proposalForm.valid">SUBMIT</button>
</div>
</form>
