@import "../scss_mixins";
.outer {
  background-color: #f8f8f8;
  height: 100%;
  padding: 20px;
}
.heading, {
  text-align: center;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  color: #3a3a3a;
  padding: 40px;
}
.register-component {
  background-color: white;
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.08);
  padding: 30px 50px;
  @include tablet {
    width: 50%;
    min-width: 300px;
    padding: 30px 30px;
  }
  @include mobile {
    width: 90%;
    min-width: 100px;
    padding: 10px 10px;
  }
  .welcome-heading {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3a3a3a;
    padding-top: 30px;
  }
  .welcome-subheading {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3a3a3a;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  form {
    .container {
      padding: 16px;
    }

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .forgot-password {
      float: right;
    }

    /* Set a style for all buttons */
    button {
      border-radius: 5px;
      box-shadow: 1px 2px 4px 0 rgba(20, 110, 180, 0.1);
      background-color: #0099d9;
      color: white;
      padding: 14px 20px;
      margin-top: 50px;
      margin-bottom: 30px;
      border: none;
      cursor: pointer;
      width: 100%;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    button:hover {
      opacity: 0.8;
    }
    .signup-text {
      text-align: center;
    }
    a {
      color : #ff9900;
      text-decoration: none;
      font-weight: 500;
    }
    .terms {
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3a3a3a;
    }
  }
  label {
    color: #3a3a3a;
  }
}
.error {
  color: red;
}
